.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  opacity: 1;
  transition: 150ms;
}

.featureSvg:hover {
  opacity: 0.8;
  transition: 150ms;
}

.featureSvg:active {
  opacity: 1;
  transition: 150ms;
}
