/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-color: #05486c;
  color: #edf7f6;

  height: 100%;
  background-position:0%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

[data-theme="dark"] .heroBanner {
  background-color: #3c8786;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  width: 60%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  box-sizing: border-box;
  text-align: center;
  border: red 2px solid;
}

.popupDarkTheme {
  width: 60%;
  max-width: 600px;
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  box-sizing: border-box;
  text-align: center;
  border: red 2px solid;
}

.disclaimerHeading {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.disclaimerText {
  font-size: medium;
  text-align: left;
  margin-bottom: 20px;
  color: black;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    height: 100%;
  }

  .popup {
    width: 85%;
    padding: 5px;
  }

  .disclaimerText {
    font-size: smaller;
  }

}
