/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  
  background-size: 100%; 
  height: 100vh;
  background-position:0%; 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    height: 85vh;
  }

  
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

